---
import "../styles/main.scss";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Buruh Coding Internasional</title>
	</head>
	<body>
		<div class="container">
			<img src="/full_logo.svg" alt="Buruh Coding Internasional" class="logo" />
			<br style="margin-top: 2rem;" />
			<p>
				Let's <a href="https://discord.com/invite/PbrFrmdPk">
					Join our Discord
				</a>!
			</p>
		</div>
	</body>
</html>
